<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LAPTOP rẻ Thanh Hóa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel=" stylesheet" href="~/Content/Style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    @using Ictshop.Models

    <style type="text/css">
        body {
            background-color: #F0F0F0;
        }

        .navbar-inverse {
            background-color: #39B54A;
            border-color: #39B54A;
        }

        .top_header {
            background-color: black;
            padding-left: 110px;
            color: white;
        }

        .form-inline {
            float: right;
            padding-top: 10px;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: x-large;
        }

        .navbar-inverse .navbar-brand {
            color: white;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: white;
            font-size: large;
        }

            .navbar-inverse .navbar-nav > li > a:hover {
                color: black;
            }

        .navbar-brand {
            color: cadetblue;
        }

        .spnoibat {
            background-color: white;
        }

            .spnoibat h3 {
                padding-left: 30px;
            }

        /*.giohang {
            color: white;
        }*/

        /*Css mới cho icon giỏ hàng và user*/
        
        
        .icon-container {
            display: inline-block;
            margin-left: 50px;
            height: 50px;
        }

        .icon {
            margin-right: 20px;
            position: relative;
            display: inline;
            font-size: 35px;
        }

        .icon label {
            font-size: 16px;
        }

        .user-options {
            font-size: 16px;
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #fff;
            border-radius: 5px;
            min-width: 150px;
        }

        .icon:hover .user-options {
            display: block;
        }

        .user-options a {
            display: block;
            color: #333;
            text-decoration: none;
            text-align: center;
            padding: 5px 0;
            border-radius: 5px;
        }

        .user-options a:hover {
            background-color: #5b5b5c;
            color: #fff
        }

        .user-text {
            font-size: 16px;
        }

        
    </style>



</head>

<body>

    @{ var u = Session["use"] as Ictshop.Models.Nguoidung; }

    <div class="navbar navbar-inverse navbar-fixed-top">

        @*<div class="top_header col-md-12">

            <div class="row">

                <div class="col-sm-4 col-md-0" style="padding-left:250px">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                </div>
                @{ if (u != null)
                    {
                        <div class="col-sm-4 col-md-0">
                            <a style="color:white" href="@Url.Action("Profile", "User", new { id = u.MaNguoiDung  })"> Xin chào : @u.Email</a>
                            &nbsp;
                            <a style="color:red" href="/User/DangXuat"> ĐĂNG XUẤT</a>
                        </div> }
                    else
                    {
                        <div class="col-sm-4 col-md-0">
                            <a style="color:white" href="/User/Dangky"> Đăng ký</a>
                            &nbsp;
                            <a style="color:white" href="/User/Dangnhap"> Đăng nhập</a>
                        </div> }}
            </div>
        </div>*@
        

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-brand" src="~/HinhanhSP/logo1.jpg" width="50" height="50" style="padding:0" />
                @Html.ActionLink("LAPTOP36", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <form class="form-inline" style="float:left">
                    <input class="form-control mr-sm-2" type="search" id="searchText" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">

                    <button class="btn btn-primary" type="button" id="buttonSearch"><i class="fas fa-search"></i></button>

                </form>

            </div>

            <div class="">

                <ul class="nav navbar-nav">
                    <li>
                        <!--<a href="#" title="dienthoai">-->
                        @*<span><i class=" glyphicon-music "></i></span>*@
                        <!--<span>ĐIỆN THOẠI</span>

                </a>-->
                    </li>
                    
                    <li>
                        <a href="/Home/Contact" title="LIENHE">
                            <span>LIÊN HỆ</span>

                        </a>
                    </li>
                    <li>
                        <a style="color:white"
                           class="nav-link"
                           href="@Url.Action("Index", "DonHangs")">ĐƠN HÀNG</a>
                    </li>
                </ul>


            </div>

            <div class="icon-container">
                <div class="icon giohang">
                    @Html.Action("GioHangPartial", "GioHang", new { @class = "giohang" })
                    
                </div>

                    @{ if (u != null)
                        {
                            <div class="icon user-icon">
                                <i class="fas fa-user "></i> <label>@u.Email</label>
                                <div class="user-options">
                                    <!-- Các lựa chọn cho người dùng -->
                                    <a href="@Url.Action("Profile", "User", new { id = u.MaNguoiDung  })">Chỉnh sửa hồ sơ</a>
                                    <a href="/User/DangXuat">Đăng xuất</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="icon user-icon">
                                <i class="fas fa-user "></i>
                                <div class="user-options">
                                    <!-- Các lựa chọn cho người dùng -->
                                    <a href="/User/Dangky">Đăng ký</a>
                                    <a href="/User/Dangnhap">Đăng nhập</a>
                                </div>
                            </div>
                        }
                    }
            </div>
            



        </div>
    </div>


    <br>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <div>
            <img class="img-responsive" src="~/HinhanhSP/laptopbanner5.jpg" />
        </div>
        <br />
    </div>
    <footer class="bg-info" style="padding-left:50px">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h2>Bảo hành</h2>
                <span>Chính sách mua hàng</span>
                <br />
                <span>Chính sách bảo hành</span>
                <br />
                <span>Trung tâm bảo hành</span>
                <br />
                <span>Tra cứu bảo hành</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Liên kết</h2>
                <span>Tin tức Mobile</span>
                <br />
                <span>Lập trình Web</span>
                <br />
                <span>GenkVN</span>
                <br />
                <span>Dân trí</span>


            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Thông tin</h2>
                <span>Về chúng tôi</span>
                <br />
                <span>Liên hệ</span>
                <br />
                <span>Góp ý</span>
                <br />
                <span>Tra cứu</span>
            </div>
            <div class="col-md-3 col-sm-6">
                <h2>Theo dõi</h2>
                <span>Kênh youtube</span>
                <br />
                <span>Fanpage</span>
                <br />
                <span>Shopee</span>
                <br />
                <span>Group</span>

            </div>
        </div>
        <hr />
        <center> <p class="bg-primary">&copy; @DateTime.Now.Year - LAPTOP36</p></center>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        var inputField = document.getElementById("searchText");
        var button = document.getElementById("buttonSearch");

        button.addEventListener("click", function () {

            var inputValue = inputField.value;


            if (inputValue.trim() !== "") {

                var baseUrl = "/Sanpham/SearchText";
                var url = baseUrl + "?searchText=" + encodeURIComponent(inputValue);


                window.location.href = url;
            }
        });
    </script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
