@model Ictshop.Models.MailModel
@{ ViewBag.Title = "Quenmatkhau";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Hãy đăng nhập để sử dụng đầy đủ tính năng của Website</h2>
<br />

<h3 class="text-danger">@ViewBag.Fail</h3>

@using (Html.BeginForm("SendMail", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            if (ViewBag.codeSent == true)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                    </div>
                    <script>
                        window.onload = function () {
                            var textField = document.getElementById("code");
                            textField.value = "";
                        };
                    </script>
                </div>
            }
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đổi mật khẩu" class="btn btn-primary" />
            </div>
        </div>
    </div>}


